# dependencies
/node_modules

# next.js build
.next
.next/cache
/out

# production builds
/build

# firebase
.firebase
firebase-debug.log*

# environment variables
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# system files
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# coverage
/coverage

# IDE
.vscode
.cursor
